body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: blue;
  height: 10%;
  color: white;
}

.card-img-top {
  width: 20em;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
}

.card {
  margin-right: 3em;
  margin-left: 3em;
}

.holder {
  display: flex;
  flex-direction: row;
}

.form-holder {
  padding-top: 2em;
}

.btn-info {
  margin-top: 2em;
}

h1 {
  padding-left: 1em;
}
