body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(image1.jpg);
  background-size: cover;


}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #bc6c1c;
  height: 10%;
  color: #f2e1d0;
}

.card-img-top {
  width: 20em;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3em;
  width: 100%;

}

/*.card {
  margin-right: 3em;
  margin-left: 3em;
  padding-left: 10em;
  padding-right: 15em;
  margin-top: 8em;
  width: 10vw;
  height: 5vh;
/*}*/

/*.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}*/

.card {
  text-align: center;
  margin-right: 1em;
  margin: top: 1em;
}

.card-title {
  background: #bc6c1c;
  margin: 0;
  height: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.holder {
  display: flex;
  flex-direction: row;
}

.form-holder {
  padding-top: 2em;
}

.button-sub {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colored {
  background: #666664;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid #ECE3DA;

}

.item-name {
  font-size: 2em;
}

.btn-info {
  margin-top: 1em;
  margin-bottom: 2em;
  background: #bc6c1c;
  color: #f2e1d0;
}

.btn-primary {
  background: #bc6c1c;
  color: #f2e1d0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding-left: 1em;
}
